[Unit]
Description=Daemon that renders map tiles using mapnik
Documentation=man:renderd
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/renderd -f
User=_renderd
PIDFile=/var/run/renderd/renderd.pid
Environment=G_MESSAGES_DEBUG=all

[Install]
WantedBy=multi-user.target
