[Unit]
Description=Daemon that renders map tiles using mapnik
Documentation=man:renderd
After=network.target auditd.service

[Service]
Type=forking
ExecStart=/usr/bin/renderd
PIDFile=/var/run/renderd/renderd.pid
User=_renderd

[Install]
WantedBy=multi-user.target